@use "../../../styles/variables";

.chats {
  > a {
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.rights {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-top: 50px;
  margin-bottom: 5px;
}

.confidentiality {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  text-align: right;
  text-decoration-line: underline;
}
